/********************************************
GENERAL
********************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans' sans-serif;  
}

a {
  text-decoration:none;
}


img {
  max-width: 100%;
}

/************************************************
HOME PAGE
*************************************************/
.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content, .hours, location {
    height: 400px;
    background: #82d173;

}

.location {
    width: 64%;
    height: auto;
    float: right;
    color: #fce8d4;
    
}

.hours {
    float: left;
    width: 30%;
    margin-bottom: 10px;
    padding: 50px 20px 200px;
    color: white;
}

img {
    float: center;
    margin: 30px;
    width: 600px;
    height: auto;    
}


h3 {
    font-size: 2em;
}

.secondary-content {
    display: inline-block;
    margin: 10px 120px;
    margin-top: 20px;
    margin-bottom: 200px;
    border: 5px solid #fce8d4; 
    max-width: 980px;
}

.intro {
    clear: both;
    font-size: 1.25em;
    line-height: 1.6;
    color: greenyellow;
}

.intro,
.intro-body {
    text-align: center;
}

.source {
    text-align: right;
}

.topfood-left,
.topfood-center,
.topfood-right,
.bottomfood-left,
.bottomfood-center,
.bottomfood-right,
.team-left,
.team-center,
.team-right{ 
    float: left;
    margin: 5px;
    border: 0;
    height: 180px;
    width: 270px;
    border-radius: 10px;  
}

h4 {
    color: lightgreen;
    text-align: center;
    font-size: 1em;
}

/*********************************************
NAVIGATION
**********************************************/
a {
  color: #fff;
}

nav,
.main-header {
  background: #ad343e;
  border-bottom: 3px solid #ffa949; 
}

/*********************************************
navigation
**********************************************/
nav ul {
  list-style: none;
  font-family: 'Concert One', cursive;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background: #ad343e; 
}

nav li {
  display: inline-block;
  font-size: 1em;
}

nav a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover, dropbtn {
  color: #69ba60;
  background: #96031a;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ad343e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*********************************************
FOOTER
clear both left and right size so it wont float and goes in the bottom
**********************************************/
.main-footer {
  border-bottom: 5px solid #96031a;
  font-size: 0.75em;
  text-align: center;
  background: #ad343e;
  clear: both;
  padding-top 2px;  
}

.main-footer img {
    width: 2%;
    height: auto;
    align-content: center;
}

/********************************************
PAGE: MENU
*********************************************/
.main-container {
    width: 75%;
    margin: auto;
    padding: .3em .6em;
    color: #757c88;
}

.group-name
{
    font-size: 1.7em;
    color: #f93142;
    margin-top: 50px;
    border-bottom: 3px solid #82d173;
    font-style: italic;
    font-family: 'Indie Flower';
}

.left,
.right {
    background-color: #fce8d4;
    width: 430px;
    height: 1500;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

.left {
    float: left; 
}
.right{
    float: right; 
}

h4 {
    font-size: 1.3em;
    color: #232528;
    border-bottom-style: dotted;
    border-bottom-color: #ff9b9b;
}

.name-left {
    float: left;
}

price-right {
    float: right;
    padding-right: 1px;
}

.item {
    margin: auto;
    width: 400px;
    height: 110px;
}

p {
    font-size: 1.2em;
}

/********************************************
MENU HEADER
********************************************/
.menu-header {
    background: #fff url('../img/breakfast.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
    margin-bottom: 10px;
    padding-top: 170px;
    text-align: center;
    font-family: Lobster;
    color: #fce8d4;
    font-size: 2em;
}

